$font-family: 'oswald';
$font-icon: 'material';
$font-icon2: 'fl';
$font-uri : '../fonts/';
$font-size: 1rem;

$color-gray: #888888;
$color-main: #ed1c94;
$color-black: #000;
$color-white: #fff;
$color-second: #fff7a2;
$color-second-dark: #ffee31;
$color-third: #981df0;